<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cluster_MGF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cluster_MGF_2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cluster_MGF.Properties.Settings>
            <setting name="MassDev" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RTDevMin" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RTDevProc" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MS2Da" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="MS2PeaksNumber" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MS2PeakMatches" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="SpecPerClust" serializeAs="String">
                <value>1</value>
            </setting>
        </Cluster_MGF.Properties.Settings>
        <Cluster_MGF_2._0.Properties.Settings>
            <setting name="MassDev" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RTDevMin" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RTDevProc" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MS2Da" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="MS2PeaksNumber" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MS2PeakMatches" serializeAs="String">
                <value>10</value>
            </setting>
        </Cluster_MGF_2._0.Properties.Settings>
    </userSettings>
</configuration>