<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Quanty.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Quanty_new.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Quanty.Properties.Settings>
            <setting name="DatFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="OutFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MascotScore" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MassError" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RTErrorProc" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RTErrorMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PeptperProt" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Deconvolution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Unique" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MyCentroids" serializeAs="String">
                <value>Exact Centroids</value>
            </setting>
            <setting name="MascotScoreFiltering" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuantiAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ESICorrect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeCorrect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ESIInterval" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="ConvThres" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="DispThres" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CutTails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SynchroCharges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Norm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Matrix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReportVector" serializeAs="String">
                <value />
            </setting>
            <setting name="ShapeFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RTOrder" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ZeroPValue" serializeAs="String">
                <value>0.05</value>
            </setting>
        </Quanty.Properties.Settings>
        <Quanty_new.Properties.Settings>
            <setting name="DatFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="OutFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MascotScore" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MassError" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RTErrorProc" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RTErrorMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PeptperProt" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Deconvolution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Unique" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MyCentroids" serializeAs="String">
                <value>Exact Centroids</value>
            </setting>
            <setting name="MascotScoreFiltering" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuantiAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ESICorrect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeCorrect" serializeAs="String">
                <value>False</value>
            </setting>
        </Quanty_new.Properties.Settings>
    </userSettings>
</configuration>