<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MGF_HTM_New.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MGF_HTM_New.Properties.Settings>
            <setting name="Mascot_Threshold" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Dat_in" serializeAs="String">
                <value />
            </setting>
            <setting name="MGF_in" serializeAs="String">
                <value />
            </setting>
            <setting name="MGF_Out" serializeAs="String">
                <value />
            </setting>
            <setting name="MScore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FDRThreshold" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FDRScore" serializeAs="String">
                <value>False</value>
            </setting>
        </MGF_HTM_New.Properties.Settings>
    </userSettings>
</configuration>